/* **** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.bg{
    background: black;
}

.ttitle{
    font-size: 100px;
    color: rebeccapurple;

}